<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<dict>
		<key>上海市</key>
		<dict>
			<key>0</key>
			<dict>
				<key>上海市</key>
				<array>
					<string>黄浦区</string>
					<string>卢湾区</string>
					<string>徐汇区</string>
					<string>长宁区</string>
					<string>静安区</string>
					<string>普陀区</string>
					<string>闸北区</string>
					<string>虹口区</string>
					<string>杨浦区</string>
					<string>闵行区</string>
					<string>宝山区</string>
					<string>嘉定区</string>
					<string>浦东新区</string>
					<string>金山区</string>
					<string>松江区</string>
					<string>青浦区</string>
					<string>南汇区</string>
					<string>奉贤区</string>
					<string>崇明县</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>1</key>
	<dict>
		<key>江苏省</key>
		<dict>
			<key>0</key>
			<dict>
				<key>苏州市</key>
				<array>
					<string>昆山市</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
